.div {
    height: 100%;
    background-color:  #23202e;
    align-items: center;
    justify-content: center;
}

.divOwned {
    width: 81%;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    border-width: 1px 0px 1px 0px;
    border-color: rgba(255, 255, 255, 0.1);
} 

.divGeneral {
    width: 81%;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 12px;
    margin-bottom: 12px;
}

.divGeneralButton {
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 12px;
    margin-bottom: 12px;
}

.divMargin {
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
    margin-bottom: 12px;
}

.divInput {
    width: 81%;
    margin-top: 45px;
    margin-bottom: 45px;
}

.divArtwork {
    height: 36%;
    width: 100%;
    margin-top: 45px;
    margin-bottom: 45px;
    border-color: grey;
    border-width: 0px 0px 1px 0px;
}

.inputLogin {
    height: 51px;
    border-width: 1px;
    border-color: grey;
    width: 100%;
    padding: 10px;
    border-top-left-radius: 21px;
    border-top-right-radius: 21px;
}

.inputPassword {
    height: 51px;
    border-width: 1px;
    border-color: grey;
    color: #FAFAFA;
    width: 100%;
    padding: 10px;
    border-bottom-left-radius: 21px;
    border-bottom-right-radius: 21px;
}

.buttonEntrar {
    display: flex;
    background-color: #604e99;
    align-items: center;
    justify-content: center;
    width: 81%;
    height: 45px; 
    border-radius: 12px;
}

.buttonOutline {
    align-items: center;
    justify-content: center;
    width: 39%;
    height: 54px; 
    border-radius: 12px;
    border-width: 1px;
    border-color: #fff;
}

.title {
    font-size: 42px;
    font-weight: bold;
    color: #FAFAFA;
}

.subtitle {
    color: grey;
}

.subtitleWhite {
    color: white;
}

.titleId {
    color: #8b73c7;
}

.divider {
    margin-top: 45px;
    margin-bottom: 45px;
    height: 1;
    color: grey;
}

.icon {
    height: 60px;
    width: 60px;
    border-radius: 90px;
    border-color: grey;
    border-width: 1px;
}